/**
*
* Global
*
**/

* {
  @include prefixr(box-sizing, border-box);
}

.logo {
    display: none;
    text-indent: -9999px;
}

header {
    text-align: center;
}

#branding-logo-large {
    display: none;

    @include wide {
        display: initial;
    }
}

#branding-logo-small {
    @include wide {
        display: none;
    }
}

.container {
    padding: 0 5%;
    margin: 0 auto;

    // TODO: Figure out why there's still a jump when this occurs...
    @include huge {
        padding: 0 80px;
        width: 1440px;
    }
}

body > section {
    border-top: 3px solid #fff;
    border-bottom: 1px solid #eee;
    padding: 1.5em 0;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);

    &:first-of-type {
        box-shadow: none;
    }
}

#hello p:first-child {
    font-size: 1.2em;
    line-height: 2;

    @include wide {
        margin-left: -1.5em;
        padding-left: 1.5em;
        border-left: 1px solid #eee;
    }
}

#philosophy,
#skills {
    background-color: $colorBlue;
    color: #fff;
}

h2 {
    text-transform: lowercase;
}

.footbar {
    border-top: 3px solid #fff;
    background-color: $colorBlueGray;
    color: #ccc;
    padding-top: 2em;

    h4 {
        // text-align: right;
        margin: 0 0 1em 0;
    }

    .social {

        img {
            float: right;
        }

        ul {
            float: left;
            list-style: none;
            text-align: right;
            padding: 0;
        }
    }

    .copyright {
        clear: both;
        text-align: center;
        font-size: 0.85em;
    }

    a {
        color: $colorBlue;
        font-weight: bold;
        text-decoration: none;
    }
}
